.cc-main{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid rgb(231, 230, 230);
}
.cc-img{
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
}
.cc-device{
display: flex;
align-items: center;
}
.close{
    color: rgb(247, 134, 93);
    font-size: 20px;
    cursor: pointer;
}
.close2{
    color: skyblue;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.cc-price{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cc-price-sub{
    font-size: 12px;
}
.ccp{
    padding-right: 75px;
}
.ccp2{
    padding-left: 80px;
    padding-right: 20px;
}
.QTY{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 248, 248);
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.cc-num{
    margin: 0px;
    font-size: 12px;
}
.cc-name{
    font-size: 12px;
    font-weight: 500;
}