.cart{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 40px;
}
.cart-main{
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(231, 230, 230);
}
.cart-price{
    display: flex;
}
.cpi2{
    font-size: 12px;
    font-weight: 500;
}
.cpi{
    font-size: 12px;
    font-weight: 500;
    padding-right: 100px;
}
.subtotal{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 60px;
    margin-bottom: 80px;
}
.coupon{
    width:33%;
    display: flex;
    align-self: flex-start;
    align-items: center;
    margin-top: 13px;
}
.Billing{
    width: 33%;
    display: flex;
    flex-direction: column;
}
.total{
    border-top: 1px solid rgb(231, 230, 230);
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

}
.VC{
    font-size: 12px;
    padding: 15px;
    border: 1px solid rgb(226, 223, 223);
    border-right: 0px;
    border-radius: 4px;
    width: 75%;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    color:rgb(226, 223, 223) ;
}
.Re{
    width: 25%;
    font-size: 12px;
    padding: 15px;
    background-color: rgb(0, 162, 255);
    border:1px solid rgb(0, 162, 255);
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
    color: white;
}
.Pay{
    text-align: center;
    color: white;
    background-color:rgb(0, 162, 255) ;
    border-radius: 3px;
    padding: 15px;
    border: 0px;
}
