.footer-main{
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(231, 230, 230);
    border-bottom: 1px solid rgb(231, 230, 230);
}
.footer-sub{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.footerc1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.footerc2{
    display: flex;
    justify-content: space-between;   
    border-top: 1px solid rgb(231, 230, 230);
    padding-top: 15px;
    padding-bottom: 50px;
}
.cards{
    display: flex;
    border-top: 1px solid rgb(231, 230, 230);
    padding-top: 15px;
    padding-bottom: 70px;
    justify-content: flex-end;
}
.card{
    padding-left: 10px;
    padding-right: 10px;
}
.visa{
    padding-right: 0px;
}
.first{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25%;
}
.is{
    color: rgb(204, 203, 203);
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    margin: 0px;
    margin-bottom: 10px;
}
.isu{
    font-weight: 300;
}
.footerc{
    font-size: 10px;
    line-height: 1.8;
    color: rgb(61, 60, 60);
}
.fu{
    margin: 0;
    margin-top: 11px;
    margin-bottom: 10px;
}
.ft{
    display: flex;
}
.facebook{
    padding-right: 10px;
    margin-top: 5px;
}