.navbar-main{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.1);
}
.navbar1{
    width: 60%;
    display: flex;
    justify-content:space-between;
}
.main{
    display: flex;
    flex-direction: row;
}
.end{
    display: flex;
}
.dd{
    align-self: center;
}
.en{
    font-size: 12px;
    align-self: center;
}
.dollar{
    margin-left: 20px;
    font-size: 12px;
    align-self: center;
}
.profile{
    display: flex;
}
.icon{
    padding-left: 20px;
    align-self: center;
    font-size: 14px;
    padding-right: 8px;
}
.icon-c{
    align-self: center;
    font-size: 11px;
}
.price{
    padding-left: 6px;
    color: rgb(184, 180, 180);
    font-size: 11px;
    align-self: center;
}
.search{
    padding-left: 50px;
    align-self: flex-end;
}
.navbar-main2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 30px;
}
.navli{
    display: flex;
    justify-content:space-around;
    width: 35%;
}
.lc{
    text-decoration: none;
    color: black;
    font-size: 10px;
    font-weight:500;
}
.cart-link{
    text-decoration: none;
    color: black;
}
.lc:hover{
    color:rgb(52, 123, 126);
   
}
.ishop{
    color: red;
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.i{
    font-weight: 400;
}