.poster-main{
    background-color: rgb(58, 164, 226);
    display: flex;
    justify-content: center;
    height: 400px;
}
.poster-sub{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
}
.poster-sub2{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.poster-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 50%;
    color: white;
    width: 27%;
}
.ip6{
    font-size: 40px;
    font-weight: 300;
    margin: 0;
}
.tag{
    font-size: 17px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 300;
}
.Sn{
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    font-size: 10px;
    font-weight: 500;
}
.poster-main2{
    background-color: rgb(58, 164, 226);
    display: flex;
    padding-left: 30px;
    height: 250px;
    border-radius: 4px;
}
.poster-content2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    width: 40%;
}
.ips{
    height: 450px;
    align-self: flex-end;
}
.poster2{
    height: 270px;
    align-self: flex-end;
}